/* .header {
  height: 8em;
  max-width: 1100px;
  width: 95%;
  margin: 0 auto;
  justify-content: space-between;
} */
.header {
  height: 8em;
  /* max-width: 1100px; */
  /* width: 95%; */
  max-width: 75%;
  margin: 0 auto;
  justify-content: space-between;
}
.header__title{
  font-weight: bolder;
}
@media (max-width: 600px) {
  .header {
    height: 6em;
  }
}
